{% extends 'myapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ blog_post.title }}</title>
</head>
<body>
    {%  block body %}
  <div class="container">
    <h1>{{ blog_post.title }}</h1>
    <p>Category: {{ blog_post.category }}</p>
    <h2>Content</h2>
    <p>{{ blog_post.content }}</p>
    <p><a href="{% url 'blog_list' %}">Back to Blog List</a></p>
  </div>
  {% endblock %}
</body>
</html>
