{% extends 'myapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'path/to/base.css' %}">
  <title>Patient Dashboard</title>
</head>
<body>
  {% block body %}
  <div class="main" style="display: flex;">
  <div class="container1" style="width: 400px;">
    <h1>Patient Dashboard</h1>
    <h2>Welcome, {{ user.username }}!</h2>
    <p>Common information:</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Address: {{ user.address_line1 }}</p>
    <p>City: {{ user.city }}</p>
    <p>State: {{ user.state }}</p>
    <p>Pincode: {{ user.pincode }}</p>
    <h2>Profile Picture </h2>
    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" width="200px" height="200px">

 
    <a href="{% url 'blog_list' %}">View Blog</a>


    {% if user.is_doctor %}
      <a href="{% url 'add_blog_post' %}">Add Blog Post</a>
    {% endif %}
  </div>

  <div class="container" style="max-width: 800px;
  margin: auto;
  padding: 20px;">
    <h2 class="category-title" style=" color: #007bff;
    text-align: center;">Blog Posts</h2>
    {% for category in blog_posts_by_category %}
      <div class="category-card" style="border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 20px;
      background-color: #f8f9fa;">
        <h3>{{ category.category }}</h3>
        <ul>
          {% for blog_post in blog_posts %}
            {% if blog_post.category == category.category %}
              <li class="blog-card" style=" border: 1px solid #ddd;
              padding: 10px;
              margin-top: 10px;
              background-color: #fff;">
              <h3 style="margin-bottom: 10px;"><a href="{% url 'blog_detail' blog_id=blog_post.id %}">{{ blog_post.title }}</a></h3>
                <p class="blog-summary" style="margin-top: 10px;">Summary: {{ blog_post.truncated_summary }}</p>
                <img style="max-width: 100%;
                height: auto;
                margin-top: 10px;" src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}" class="blog-image">
                <p class="blog-info" style="color: #555;
                font-size: 12px;
                margin-top: 5px;">Published by: {{ blog_post.author.username }} at {{ blog_post.publication_date }}</p>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  {% endblock %}
</body>
</html>
