{% extends 'myapp/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'myapp/base.css' %}">
  
  <title>Blog Posts</title>
</head>
<body>
  {% block body %}
  <div class="container" style=" max-width: 800px;
  margin: auto;
  padding: 20px;">
    <h2 style="color: #007bff;
    text-align: center;">My Blogs</h2>

    {% for blog_post in blog_posts %}
      <div  class="blog-card" style="
      
      height: 400px;
      width: 400px;
      border: 5px solid black;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h3 style="margin-bottom: 10px;"><a href="{% url 'blog_detail' blog_id=blog_post.id %}">{{ blog_post.title }}</a></h3>
        <p>Category: {{ blog_post.category }}</p>
        <p>Summary: {{ blog_post.truncated_summary }}</p>
        <img src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}" style="  height: 150px;
        width: 200px;
        border-radius: 4px;
        margin-top: 10px;">
      </div>
    {% endfor %}

  </div>
  {% endblock %}
</body>
</html>
